# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
##*
##'hello'
##-87.8
##-
##/
##+
## 6
#ANSWERS
          values:- 'hello' ,  6 
          expressions:- * , - , / , +
          note: 89.8 is float number .

#2. What is the difference between string and variable?

 variable is a kind of entity which holds a data in a main memory.data can be a file ,data type or anything.
 string is a sequence of characters and  type of information which is stored in variable. string is enclosed in ' ' or " "

#3. Describe three different data types.

3 different type of data types are-




  1.Numerical data type - int datatype, float data type, complex data type.




int data type is a data type in which integer number stored in variable
ex:- a= 8




float is a dataype which has decimal points
ex:- b= 8.50




complex data type is a numerical value with real number and imaginary number
ex:- c= 2+4j .. where is j is (-1)** 0.5




2. string data type - it is a data type which has sequence of characters and enclosed with in ' ' or " ". Example

 name= 'varun'







3. boolean data type- it is a data type which contains either True or False stored in it ..and value of True is 1 and False is 0
ex:- a = True
     b= False

#4. What is an expression made up of? What do all expressions do?

An expression is a combination of operators and operands..
ex:- x + y = 5 . Here x and y are operands and + and = are operators.. all expressions are interpreted with operands and operators to produce some value

#5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

 expressions means which produces some vaule..and statement is a entire line of code.therefore,

spam= 100 is a statement .

one more example

x= 60

y= 20+ x/4

Here x=60 , y= 20+ x/4 is Statement and

x/4 is a expression.

#6. After running the following code, what does the variable bacon contain?
                           bacon = 22
                           bacon + 1

bacon contains variable 22 still after exceuting the code because it's not assigned to bacon..PROOF BELOW

In [18]:
bacon= 22
print(bacon+1)
print(bacon) # proof to show variable bacon contains 22 vaule

23
22

#7. What should the values of the following two terms be?
             'spam'+'spamspam' 
              'spam'*3

answers are
        
         1.'spamspamspam'

         2.'spamspamspam'

In [7]:
'spam'+'spamspam' #concatination happens

'spamspamspam'

In [8]:
'spam'*3             #concatination happens

'spamspamspam'

#8. Why is eggs a valid variable name while 100 is invalid?

Because variable name should not start with number... EXAMPLE BELOW

In [10]:
eggs= 5
eggs*10

50

In [11]:
100 = "varun"
100+"kumar"

SyntaxError: ignored

#9. What three functions can be used to get the integer, floating-point number, or string version of a value?

int() float() and str()  can be used to get the integer, floating-point number, or string version of a value. EXAMPLE BELOW

In [20]:
a= 7.5
b= 5
c= 89
print(int(a))
print(float(b))
str(c)

7
5.0

'89'

#10. Why does this expression cause an error? How can you fix it?
'I have eaten'+ 99 +'burritos.'

The expression causes error because only string and string can be concatinated.. to fix it we should convert 99 to string by replacing "99 " or '99'..PROOF BELOW

In [17]:
'I have eaten '+'99'+' burritos.'

'I have eaten 99 burritos.'